<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.Projectpandi">

    <uses-permission android:name="android.permission.INTERNET" />

    <meta-data
        android:name="preloaded_fonts"
        android:resource="@array/preloaded_fonts" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logoskb"
        android:roundIcon="@drawable/logoskb"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="ObsoleteSdkInt,UnusedAttribute"
        tools:targetApi="28">
        <activity
            android:name=".DataLaporanAngsuran"
            android:exported="false" />
        <activity
            android:name=".LaporanAngsuran"
            android:exported="false" />
        <activity
            android:name=".LaporanBayar"
            android:exported="false" />
        <activity
            android:name=".DataLaporanMasuk"
            android:exported="false" />
        <activity
            android:name=".LaporanMasuk"
            android:exported="false" />
        <activity
            android:name=".Bulanan2"
            android:exported="true" />
        <activity
            android:name=".Bulanan"
            android:exported="true" />
        <activity
            android:name=".Inputpengajar"
            android:exported="true" />
        <activity
            android:name=".Datapengajar"
            android:exported="true" />
        <activity
            android:name=".ProgramBelajar"
            android:exported="true" />
        <activity
            android:name=".Daftarbelajar"
            android:exported="true" />
        <activity
            android:name=".Bayar2"
            android:exported="true" />
        <activity
            android:name=".Bayar"
            android:exported="true" />
        <activity
            android:name=".Pembayaran"
            android:exported="true" />
        <activity
            android:name=".Beranda"
            android:exported="true" />
        <activity
            android:name=".Register"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".Splashscren"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>