<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.Projectpandi">

    <uses-permission android:name="android.permission.INTERNET" />

    <meta-data
        android:name="preloaded_fonts"
        android:resource="@array/preloaded_fonts" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logoskb"
        android:roundIcon="@drawable/logoskb"
        android:supportsRtl="true"
        android:theme="@style/Theme.Projectpandi"
        tools:ignore="ObsoleteSdkInt,UnusedAttribute"
        tools:targetApi="28">
        <activity
            android:name="com.example.Projectpandi.Bulanan2"
            android:exported="true" />
        <activity
            android:name="com.example.Projectpandi.Bulanan"
            android:exported="true" />
        <activity
            android:name="com.example.Projectpandi.Inputpengajar"
            android:exported="true" />
        <activity
            android:name="com.example.Projectpandi.Datapengajar"
            android:exported="true" />
        <activity
            android:name="com.example.Projectpandi.ProgramBelajar"
            android:exported="true" />
        <activity
            android:name="com.example.Projectpandi.Daftarbelajar"
            android:exported="true" />
        <activity
            android:name="com.example.Projectpandi.Bayar2"
            android:exported="true" />
        <activity
            android:name="com.example.Projectpandi.Bayar"
            android:exported="true" />
        <activity
            android:name="com.example.Projectpandi.Pembayaran"
            android:exported="true" />
        <activity
            android:name="com.example.Projectpandi.Beranda"
            android:exported="true" />
        <activity
            android:name="com.example.Projectpandi.Register"
            android:exported="true" />
        <activity
            android:name="com.example.Projectpandi.Login"
            android:exported="true" />
        <activity
            android:name="com.example.Projectpandi.Splashscren"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.Projectpandi.MainActivity"
            android:exported="true" />
    </application>

</manifest>